*{
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
}
/*loader*/
.loader-container {
    position: fixed;
    background-color: #ffffff;
    height: 100vh;
    inset: 0;
    z-index: 3;
    opacity: 0.8;
    animation: disappear 200ms;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    transform-origin: top;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes disappear {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
.loader {
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    margin-bottom: 250px;
    border-radius: 50%;
    border-top: 7px solid transparent;
    border-top-color:#9356DC;
    animation: spin 2s linear infinite;
}
.loader::before, .loader::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 7px solid transparent;
}
.loader::before {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top-color:#99E2D0;
    animation: spin 3s linear infinite;
}
.loader::after {
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border-top-color:#FF79DA;
    animation: spin 1.5s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }    
}
.image-loader {
    width: 160px;
    height: 160px;
    margin-left: -200px;
    margin-bottom: 260px;
    animation: grow 3s ease-in-out;
}
@keyframes grow {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1);
    } 
    100% {
        transform: scale(1.2);
    }  
}
/*header*/
/*en tete */
.marque {
    width : 100%;
    height: 50px;
    padding-top: 15px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 10px rgb(68, 68, 68);
    font-family:'Shrikhand', cursive;
}
.location {
    width: 100%;
    height: 50px;
    background-color: rgb(233, 233, 233);
}
.icon-location {
    margin-right: 20px;
}
.name-location {
    color: rgb(32, 31, 31);
    font-weight: bold;
    margin-right: 20px;
    font-family:'Roboto', sans-serif;
    
}
/*textes nav*/
nav {
    width: 100%;
    height: 250px;
    padding-top: 30px;
    background-color: rgb(245, 245, 245);
}
.texte-Réservez {
    width: 70%;
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
    padding-left: 65px;
    font-family: 'Roboto', sans-serif;
}
.texte-Découvrez {
    width: 80%;
    padding-top: 10px;
    text-align: center;
    padding-left: 45px;
}
.texte-Découvrez > h3 {
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    color: black;
}
/*bouton nav*/
.btn-explorer {
    width: 100%;
    height: 60px;
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
}
.explorer {
    width: 55%;
    height: 50px;
    font-size: 15px;
    color: rgb(241, 241, 241);
    background:linear-gradient(#FF79DA,#9356DC);
    opacity: 0.9;
    border-radius: 50px;
}
.explorer:hover {
    box-shadow: 0px 1px 10px 1px grey;
    background:linear-gradient(#fda4e4,#9762d8);
}
/*main*/
.premier-section {
    margin-bottom: 50px;
    padding: 50px 20px 0 20px;
    font-family: 'Roboto', sans-serif;
}
/*1er section*/
.text-fonctionnement {
    padding-left: 20px;
    font-weight: bold;
    font-size: 24px;
}
/*fonctionnement un*/
.fonctionnement {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.box-icn-un {
    width: 7%;
    height: 25px;
    margin-right: -10px;
    z-index: 1;
    border-radius: 100px;
    background-color: #9356DC;
    color: white;
}
.box-fonctionnement {
    width: 95%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 2px 10px 0px #cdcdcd;
    border-radius: 15px;
}
.icn-mobile:hover {
    cursor: pointer;
    color: #9356DC;
}
.icn-mobile{
    color: grey;
    font-size: 20px;
    padding-left: 20px;
}
.texte-choisissez{
    font-weight: bold;
    padding-left: 20px;
}
/*fonctionnement deux*/
.box-icn-deux {
    width: 7%;
    height: 25px;
    margin-right: -10px;
    z-index: 1;
    border-radius: 100px;
    background-color: #9356DC;
    color: white;
}
.icn-liste:hover {
    cursor: pointer;
    color: #9356DC;
}
.icn-liste{
    color: grey;
    font-size: 20px;
    padding-left: 20px;
}
.texte-composez{
    font-weight: bold;
    padding-left: 20px;
}
/*fonctionnement trois*/
.box-icn-trois {
    width: 7%;
    height: 25px;
    margin-right: -10px;
    z-index: 1;
    border-radius: 100px;
    background-color: #9356DC;
    color: white;
}
.icn-store:hover {
    cursor: pointer;
    color: #9356DC;
}
.icn-store{
    color: grey;
    font-size: 20px;
    padding-left: 20px;
}
.texte-degustez{
    font-weight: bold;
    padding-left: 20px;
}
/*deuxieme section*/
.deuxieme-section {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 245, 245);
    padding-top: 50px;
}
.box-container {
    flex-direction: column;
}
.restaurant {
    padding-left: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}
.box-restaurant {
    width: 90%;
    height: 255px;
    box-shadow: 5px 5px 10px 0px #cdcdcd;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
}
.box-restaurant > a {
    text-decoration: none;
}
.image-restaurant {
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.nouveau {
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 13px;
    background-color: #99E2D0;
    border-radius: 3px;
    color: rgb(5, 97, 62);
}
.text-restaurant {
    display: flex;
    justify-content: space-between;
    color: black;
}
.les-textes-restaurant {
    margin-left: 10px;
}
.les-textes-restaurant > h4 {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 5px;
}
/*icn-coeur*/
.icn-coeur {
    width: 10%;
    font-size: 25px;
    padding-top: 15px;
    padding-right: 20px;
    color: black;
    position:relative;
}
.icn-fill {
    background: linear-gradient(#FF79DA,#9356DC);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: absolute;
    left: 0;
    bottom: 13px;
    opacity: 0;
}
.icn-fill:hover {
    opacity: 1;
    transition: all 500ms ease-in-out;
}
/*footer*/
footer {
    margin-top: 50px;
    width: 100%;
    height: 490px;
    background-color: rgb(46, 45, 45);
    color: whitesmoke;
}
.pied {
    margin-left: 20px;
}
.pied-ohmyfood {
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    font-family:'Shrikhand', cursive;
}
/*pied proposer un restaurant*/
.pied-proposer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.pied-proposer > i {
    font-size: 15px;
    margin-right: 15px;
}
.pied-proposer > p {
    font-family: 'Roboto', sans-serif;
}
/*pied devenir un partenaire*/
.pied-devenir {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.pied-devenir > i {
    font-size: 15px;
    margin-right: 15px;
}
.pied-devenir > p {
    font-family: 'Roboto', sans-serif;
}
/*pied mentions légales */
.pied-mentions {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
/*pied Contact*/
.pied-contact {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}
/*generale*/
/*
FONT FAMILY
font-family: 'Roboto', sans-serif;
font-family:'Shrikhand', cursive;
*/
.flexcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*version desktop */
@media screen and (min-width:768px)  {
    .marque{
        width: 100%;
    }
    .ohmyfood {
        text-align: center;
    }
    .location {
        width: 100%;
        text-align: center;
    }
    .texte-Réservez {
        margin-left: 90px;
    }
    .texte-Découvrez {
        margin-left: 60px;
    }
    .btn-explorer {
        width: 100%;
    }
    .explorer {
        width: 30%;
        height: 50px;
    }
    .btn-explorer {
        margin-left: -5px;
    }
    .premier-section {
        margin-left: 305px;
    }
    .fonctionnement-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .fonctionnement{
        width: 60%;
    }
    .box-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box-restaurant{
        width: 47%;
    }
    footer {
        width:100%;
        height: 200px;
    }
}